@import "vars";

@import "components/container";

body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: $grey-1;

  * {
    overflow: auto;
    box-sizing: border-box;
  }
}
